@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=1defd006-96f9-4e02-9e97-10c853c91d68");
@font-face{
font-family:"Proxima N W01 Cd Reg";
src:url("../fonts/9078f77e-dddf-495b-a468-f03b3b7aa12c.eot?#iefix");
src:url("../fonts/9078f77e-dddf-495b-a468-f03b3b7aa12c.eot?#iefix") format("eot"),url("../fonts/8e5dbeb3-4068-4196-83a4-c86fe35c8b65.woff") format("woff"),url("../fonts/f6c936c3-3828-4625-babb-e900c2afe00d.ttf") format("truetype"),url("../fonts/87761033-3af1-450a-8cdd-2321b6a595f9.svg#87761033-3af1-450a-8cdd-2321b6a595f9") format("svg");
}
@font-face{
font-family:"Proxima N W01 Xbold";
src:url("../fonts/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix");
src:url("../fonts/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix") format("eot"),url("../fonts/19dd5cf2-ac2d-48d5-901a-c432fd291ee2.woff") format("woff"),url("../fonts/22cfbfa4-f607-4751-92eb-6fa194353e57.ttf") format("truetype"),url("../fonts/3d6b6348-e05f-4123-b19a-3bfd02c7f361.svg#3d6b6348-e05f-4123-b19a-3bfd02c7f361") format("svg");
}